.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr );
  grid-template-rows: repeat(6, 100px);
  gap: 2px;
  text-align: center;
   height: 800px;
  width: 600px;
  margin: auto;
}
.Caixa1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #5D6816;
}
.Caixa2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: brown;
}
.Caixa3 {
  grid-column: 3/5;
  grid-row: 1/2;
  background-color: darkorchid;
}
.Caixa4 {
  grid-column: 5/6;
  grid-row: 1/2;
  background-color: cadetblue;
}
.Caixa5 {
  grid-column: 5/6;
  grid-row: 2/6;
  background-color: chocolate;
}
.Caixa6 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: cornflowerblue;
}
.Caixa7 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: crimson;
}
.Caixa8 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: darkblue;
}
.Caixa9 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: darkcyan;
}
.Caixa10 {
  grid-column: 1/2;
  grid-row: 4/5;
  background-color:fuchsia;
}
.Caixa11 {
  grid-column: 2/3;
  grid-row: 4/5;
  background-color:burlywood;
}
.Caixa12 {
  grid-column: 1/2;
  grid-row: 5/6;
  background-color:gold;
}
.Caixa13 {
  grid-column: 2/3;
  grid-row: 5/6;
  background-color:hotpink;
}
.Caixa14 {
  grid-column: 3/5;
  grid-row: 2/6;
  background-color:green;
}